Source: amixer-webui
Maintainer: Jiri Skorpil <jiri.sko@gmail.com>
Section: sound
Priority: optional
Build-Depends: debhelper (>=10)
Homepage: <https://github.com/JiriSko/amixer-webui>

Package: amixer-webui
Architecture: all
Suggests: libasound2-plugin-equal (>=0.6)
Depends: alsa-utils (>=1.0.25), python3 (>=3.3), python3-flask, python3-args
Description: Web application for control ALSA volume
 Client-server application for easy configuration of ALSA volume controls using network device (smartphone, tablet, PC, etc.).
